@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";
@import "./scss/brands.scss";
/* 
Colors:
    background glossy white #F0F4FB
    header back #2B303A (bubbles afterwards)
    white for cards #FFFFFF
    orange #D64933
    blue sky #58A4B0
    card shadow #22447B
*/

$background: #f0f4fb;
$darkBlue: #2b303a;
$blueSky: #58a4b0;
$shadow: #b3b3b3;
$orange: #d64933;

$font-stack: "Nunito", sans-serif;

* {
    box-sizing: border-box;
    //outline: 0.1rem solid red !important;
}

html {
    font: 62.5%;
}

body {
    font: 1rem $font-stack;
    background-color: $background;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.99fr 0.01fr;

    aside {
        background-color: white;
        text-align: center;
        font-weight: 500;
    }

    .main {
        display: flex;
        flex-direction: column;

        header {
            background-color: $darkBlue;
            height: 20%;
            .addTask {
                display: flex;
                margin: auto;
                width: 100%;
                padding: 0% 10%;
                height: 3rem;

                input {
                    outline: none;
                    border-radius: 1rem;
                    //border: 1px solid #ccc;
                    border: none;
                    width: 100%;
                    padding-left: 2%;
                    font-size: large
                }
                .add {
                    @include fa-icon-solid($fa-var-plus);
                    font-size: 2em;
                    color: $darkBlue;
                    margin-left: -2rem;
                    border-radius: 50%;
                    border: none;
                    padding: 1%;
                    width: 3rem;
                }
            }
        }

        //cards
        section {
            display: flex;
            flex-flow: row wrap;
            gap: 5%;
            margin: 5%;
            height: 100%;

            .card {
                background-color: white;
                box-shadow: 1px 0px 10px 1px $shadow;
                border-radius: 0.5em;
                width: 47.5%;
                font-size: large;
                font-weight: 500;
                position: relative;
                hr {
                    width: 1rem;
                    height: 10%;
                }
                h3 {
                    text-align: center;
                    padding: 0%;
                    margin: 0%;
                    .todot {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0.5rem;
                        left: 0.5rem;
                        background-color: $orange;
                    }
                    .codot {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0.5rem;
                        left: 0.5rem;
                        background-color: $blueSky;
                    }
                }
                .todo {
                }
                .completed {
                }
            }
        }
    }

    footer {
        grid-column-start: 1;
        grid-column-end: span 2;
        font-size: small;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        background-color: rgb(216, 211, 211);
    }
}
