@import "./resources/scss/fontawesome.scss";
@import "./resources/scss/solid.scss";
@import "./resources/scss/brands.scss";

/* @import "./scss/duotone.scss";
@import "./scss/_duotone-icons.scss"; */
/* 
Colors:
    background glossy white #F0F4FB
    header back #2B303A (bubbles afterwards)
    white for cards #FFFFFF
    orange #D64933
    blue sky #58A4B0
    card shadow #22447B
*/

$background: #f0f4fb;
$darkBlue: #2b303a;
$blueSky: #58a4b0;
$shadow: #b3b3b3;
$orange: #d64933;

$font-stack: "Nunito", sans-serif;

* {
    box-sizing: border-box;
    //outline: 0.1rem solid red !important;
}

html {
    font: 62.5%;
}

body {
    font: 1rem $font-stack;
    background-color: $background;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.99fr 0.01fr;

    aside {
        background-color: white;
        text-align: center;
        font-weight: 500;
    }

    .main {
        display: flex;
        flex-direction: column;

        header {
            background-color: $darkBlue;
            height: 20%;
            .addTask {
                display: flex;
                margin: auto;
                width: 100%;
                padding: 0% 10%;
                height: 3rem;

                input {
                    outline: none;
                    border-radius: 1rem;
                    border: none;
                    width: 100%;
                    padding-left: 2%;
                    font-size: large;
                }
                .add {
                    @include fa-icon-solid($fa-var-plus);
                    font-size: 1.8em;
                    color: $darkBlue;
                    margin-left: -2rem;
                    border-radius: 50%;
                    border: none;
                    padding: 1%;
                    width: 3rem;
                }
                .animation {
                    &:hover {
                        animation: rotate 1s ease 0s 1 normal forwards;
                    }
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(180deg);
                    }
                }
            }

            .error {
                color: rgb(241, 103, 103);
                margin-left: 1%;
                font-size: small;
                padding-bottom: 0.5em;
            }
        }

        //cards
        section {
            display: flex;
            flex-flow: row wrap;
            gap: 5%;
            margin: 5%;
            height: 100%;

            .card {
                background-color: white;
                box-shadow: 1px 0px 10px 1px $shadow;
                border-radius: 0.5em;
                width: 47.5%;
                font-size: large;
                font-weight: 500;
                position: relative;
                .hrtodo {
                    width: 15%;
                    height: 2px;
                    border-radius: 50%;
                    background-color: $orange;
                    border: none;
                }
                .hrcomp {
                    width: 15%;
                    height: 2px;
                    border-radius: 50%;
                    background-color: $blueSky;
                    border: none;
                }
                h3 {
                    text-align: center;
                    padding: 0%;
                    margin: 0%;
                    .todot {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0.5rem;
                        left: 0.5rem;
                        background-color: $orange;
                    }
                    .codot {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0.5rem;
                        left: 0.5rem;
                        background-color: $blueSky;
                    }
                }
                .taskList {
                    //padding: 0.5em 1em;
                    padding: 0%;
                    margin: 0.1em;
                    list-style: none;
                }
                .compTask {
                    //padding: 0.5em 1em;
                    padding: 0%;
                    margin: 0.1em;
                    list-style: none;
                }
                li {
                    padding: 1em 1em;
                    background-color: $background;
                    margin: 0.1em;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    .removeIcon {
                        @include fa-icon-solid($fa-var-circle-xmark);
                        font-size: 1.5rem;
                        position: absolute;
                        right: 11%;
                        //top: 32%;
                        color: rgb(184, 180, 180);
                        &:hover{
                            color: rgb(212, 24, 24);
                        }

                    }
                    .checkIcon {
                        @include fa-icon-solid($fa-var-circle-check);
                        position: absolute;
                        font-size: 1.5rem;
                        right: 2%;
                        color: rgb(184, 180, 180);
                        &:hover{
                            color: rgb(109, 212, 24);
                        }
                    }
                }
            }
        }
    }

    footer {
        grid-column-start: 1;
        grid-column-end: span 2;
        font-size: small;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        background-color: rgb(216, 211, 211);
    }
}
